<div class="bottom-links">
    <ul class="list" role="presentation">
        <li><a href="category-all.html">${SoftwareLabel}</a></li>
        <li><a href="categories.html">${CategoriesLabel}</a></li>
        <li><a href="updates.html">${UpdatesLabel}</a></li>
        <li><a href="http://www.bristol.ac.uk/it-services/advice/operatingsystems/mac/software-center" target=_"blank">About Managed Software Center</a></li>
        <li><a href="http://www.bristol.ac.uk/it-services/contacts/" target=_"blank">Service Desk</a></li>
    </ul>
</div>
