<div class="sidebar">
    <div class="chart titled-box quick-links">
        <h2>Quick Links</h2>
        <div class="content">
            <ol class="list">
                <li class="link"><a target="_blank" href="http://www.bristol.ac.uk/it-services/advice/operatingsystems/mac/software-center">How to use Software Center</a></li>
                <li class="link"><a target="_blank" href="http://www.bristol.ac.uk/it-services/advice/operatingsystems/mac/">UoB Mac Advice &amp; Support</a></li>
                <li class="link"><a target="_blank" href="https://servicedesk.bristol.ac.uk/tas/public/index.jsp">Report a problem</a></li>
                <li class="separator"><hr/></li>
                <li class="link user-link"><a target="_blank" href="http://www.apple.com/support/">Apple support</a></li>
                <li class="link user-link"><a target="_blank" href="http://www.apple.com/support/mac/">Mac</a></li>
                <li class="link user-link"><a target="_blank" href="http://www.apple.com/support/osx/">OS X</a></li>
                <li class="link user-link"><a target="_blank" href="http://www.apple.com/support/mac-apps/">Mac Apps</a></li>
            </ol>
        </div>
    </div>

    <div class="chart titled-box quick-links">
        <h2>${CategoriesLabel}</h2>
        <div class="content">
            <ol class="list">
                ${category_list}
            </ol>
        </div>
    </div>
</div>
